<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schedulerConfig">
            <h2><span>Scheduler Config</span> {{schedulerConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Label</span></dt>
                <dd>
                    <div *ngIf="schedulerConfig.label">
                        <a [routerLink]="['/label', schedulerConfig.label?.id, 'view']">{{schedulerConfig.label?.id}}</a>
                    </div>
                </dd>
                <dt><span>Scheduler Type</span></dt>
                <dd>
                    <div *ngIf="schedulerConfig.schedulerType">
                        <a [routerLink]="['/scheduler-type', schedulerConfig.schedulerType?.id, 'view']">{{schedulerConfig.schedulerType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/scheduler-config', schedulerConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
