<div>
    <h2 id="page-heading">
        <span>Scheduler Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-scheduler-config" [routerLink]="['/scheduler-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Scheduler Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="schedulerConfigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Label</span></th>
            <th><span>Scheduler Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedulerConfig of schedulerConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/scheduler-config', schedulerConfig.id, 'view' ]">{{schedulerConfig.id}}</a></td>
                <td>
                    <div *ngIf="schedulerConfig.label">
                        <a [routerLink]="['../label', schedulerConfig.label?.id, 'view' ]" >{{schedulerConfig.label?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedulerConfig.schedulerType">
                        <a [routerLink]="['../scheduler-type', schedulerConfig.schedulerType?.id, 'view' ]" >{{schedulerConfig.schedulerType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/scheduler-config', schedulerConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/scheduler-config', schedulerConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'scheduler-config', { outlets: { popup: schedulerConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
