<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="executorConfig">
            <h2><span>Executor Config</span> {{executorConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Executor Label</span></dt>
                <dd>
                    <div *ngIf="executorConfig.executorLabel">
                        <a [routerLink]="['/executor-label', executorConfig.executorLabel?.id, 'view']">{{executorConfig.executorLabel?.id}}</a>
                    </div>
                </dd>
                <dt><span>Executor Type</span></dt>
                <dd>
                    <div *ngIf="executorConfig.executorType">
                        <a [routerLink]="['/executor-type', executorConfig.executorType?.id, 'view']">{{executorConfig.executorType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/executor-config', executorConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
