<div>
    <h2 id="page-heading">
        <span>Executor Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-executor-config" [routerLink]="['/executor-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Executor Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="executorConfigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Executor Label</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let executorConfig of executorConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/executor-config', executorConfig.id, 'view' ]">{{executorConfig.id}}</a></td>
                <td>{{executorConfig.type}}</td>
                <td>
                    <div *ngIf="executorConfig.executorLabel">
                        <a [routerLink]="['../executor-label', executorConfig.executorLabel?.id, 'view' ]" >{{executorConfig.executorLabel?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/executor-config', executorConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/executor-config', executorConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'executor-config', { outlets: { popup: executorConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
