<div>
    <h2 id="page-heading">
        <span>Predicates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-predicate" [routerLink]="['/predicate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Predicate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="predicates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Predicate Logic</span></th>
            <th><span>Expression</span></th>
            <th><span>Predicate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let predicate of predicates ;trackBy: trackId">
                <td><a [routerLink]="['/predicate', predicate.id, 'view' ]">{{predicate.id}}</a></td>
                <td>{{predicate.predicateLogic}}</td>
                <td>
                    <div *ngIf="predicate.expression">
                        <a [routerLink]="['../expression', predicate.expression?.id, 'view' ]" >{{predicate.expression?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="predicate.predicate">
                        <a [routerLink]="['../predicate', predicate.predicate?.id, 'view' ]" >{{predicate.predicate?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/predicate', predicate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/predicate', predicate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'predicate', { outlets: { popup: predicate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
