<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expression">
            <h2><span>Expression</span> {{expression.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Exression Logic</span></dt>
                <dd>
                    <span>{{expression.exressionLogic}}</span>
                </dd>
                <dt><span>Left</span></dt>
                <dd>
                    <div *ngIf="expression.left">
                        <a [routerLink]="['/numeric', expression.left?.id, 'view']">{{expression.left?.id}}</a>
                    </div>
                </dd>
                <dt><span>Right</span></dt>
                <dd>
                    <div *ngIf="expression.right">
                        <a [routerLink]="['/numeric', expression.right?.id, 'view']">{{expression.right?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expression', expression.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
