<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-expression-heading">Create or edit a Expression</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!expression.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exressionLogic">Exression Logic</label>
                    <select class="form-control" name="exressionLogic" formControlName="exressionLogic" id="field_exressionLogic">
                        <option value="LESS">LESS</option>
                        <option value="LESS_OR_EQUAL">LESS_OR_EQUAL</option>
                        <option value="EQUAL">EQUAL</option>
                        <option value="GREATER_OR_EQUAL">GREATER_OR_EQUAL</option>
                        <option value="GREATER">GREATER</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_left">Left</label>
                    <select class="form-control" id="field_left" name="left" formControlName="left">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="numericOption.id === editForm.get('left').value?.id ? editForm.get('left').value : numericOption" *ngFor="let numericOption of lefts; trackBy: trackNumericById">{{numericOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_right">Right</label>
                    <select class="form-control" id="field_right" name="right" formControlName="right">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="numericOption.id === editForm.get('right').value?.id ? editForm.get('right').value : numericOption" *ngFor="let numericOption of rights; trackBy: trackNumericById">{{numericOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
